

hr { margin-top: 0; }

.Background{
  animation: fadeInSlow 1s;
}

.label {
  color: #485167;
  font-size: 70%;
}

.submit {
  background-color: #dae2e8;
  border-radius: 5px;
  height: 30px;
  width: 50px;
}

.input {
  border-radius: 5px;
  height: 20px;
  width: 200px;
}

.fox {
  margin-top: 5%;
  height: 12%;
  width: 12%;
}

.message {
  border-radius: 5px;
  height: 200px;
  width: 400px;
}

.singleCloud {
  height: 30px;
  width: 50px;
  margin-left: 0.5%;
  padding-top: 0.5%;
}

.contactCloudContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.foxWords {
  color: #485167;
  font-size: 80%;
  margin-top: 5%;
}

.button {
  font-size: 70%;
  border-radius: 5px;
  padding: 1.5%;
  margin: 1%;
  background-color: #485167;
  color: white;
}

.Line {
  color: #485167;
}
