@media only screen and (min-width: 576px) {
  p {
    font-size: 20px;
  }

  a {
    color: #6082B6;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
  }

  .infoContainer {
    margin-bottom: 2%;
  }

  .infoChunk {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    margin: 0% 20% 0% 20%;
    /* opacity: 0; */
    animation: fadeInSlow 3s;
  }
}

@media only screen and (max-width: 575px) {
  p {
    font-size: 16px;
  }

  a {
    color: #007887;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
  }

  .infoContainer {
    margin-bottom: 2%;
  }

  .infoChunk {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    margin: 0% 15% 0% 15%;
    /* opacity: 0; */
    animation: fadeInSlow 3s;
  }
}


@keyframes fadeOut {
  0% { border-color: #485167 }
  80% { border-color: transparent }
}

@keyframes fadeInSlow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
