h1 {margin-bottom: 0; margin-top: 0;}

p { margin-bottom: 0;}

.Main {
  text-align: center;
  padding: 2% 0% 2% 0%;
  margin: 0% 5% 0% 5%;
}

.Main-section-top {
  padding: 1% 10% 1% 10%;
  color: #485167;
}

.Main-title {
  margin-top: 5%;
  cursor: pointer;
  font: italic normal 100 40px/2 'Pacifico', Helvetica, sans-serif;
}

.Main-title:hover {
  color: #007887;
}

.Nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 2% 0% 1% 0%;
}

.Main-nav {
  font-size: 120%;
  cursor: pointer;
  color: #485167;
}

.Main-nav:hover {
  color: #007887;
}


.Bottom {
  text-align: center;
  font-size: 90%;
  color: #485167;
  margin-bottom: 3%;
}

.Main-section {
  text-align: center;
  padding: 1% 10% 1% 10%
}

.Icons {
  text-align: center;
  justify-content: center;
  padding: 1% 10% 0% 10%;
}

.Desc {
  color: #485167;
}

.Link {
  height: 5%;
  width: 3%;
}

.Med {
  height: 5%;
  width: 3%;
  padding-bottom: 0.375%;
}

.Line {
  color: #485167;
}
