hr { margin-top: 0; }

.link {
  color: #485167;
  font-size: 100%;
  text-align: left;
}

.link:hover {
    color: #a8c7ea;
}


.item {
  text-align: center;
  font-size: 80%
}

.item-mobile {
  font-size: 80%;
  text-align: center;
}

.Line {
  color: #485167;
}

.img {
  width: 80%;
  border-radius: 25px;
}

.container-mobile {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInSlow 1s;
}

.container {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  animation: fadeInSlow 1s;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EBEBEB;
  border-radius: 25px;
  width: 30%;
  padding: 2% 1% 2% 1%;
  margin: 0% 1% 0% 1%;
}

.mediaBox-mobile {
  background-color: #EBEBEB;
  padding: .5% 1% 8% 1%;
  width: 80%;
  margin: 1% 1% 1% 1%;
  border-radius: 25px;
}


@keyframes fadeInSlow {
  from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
}
