

hr { margin-top: 0; }


.Desc {
  font-family: palatino;
  color: #485167;
  font-size: 100%;
}

.link {
  font-family: palatino;
  color: #485167;
  font-size: 100%;
  text-align: left;
}

.link:hover {
    color: #a8c7ea;
}


.item {
  font-family: palatino;
  color: #485167;
  font-size: 90%;
  text-align: center;
}

.Line {
  color: #485167;
}

.mediaBox {
  background-color: #f1f5f9;
  flex: 2;
  margin-left: 28%;
  margin-right: 28%;
  padding: 1%;
  padding-top: .5%;
  margin-bottom: 2%;
  border-radius: 25px;
}
