hr { margin-top: 0; }


.Desc {
  color: #485167;
  font-size: 100%;
}

.link {
  color: #485167;
  font-size: 100%;
  text-align: left;
}

.link:hover {
    color: #a8c7ea;
}


.item {
  color: #485167;
  font-size: 90%;
  text-align: center;
}

.Line {
  color: #485167;
}

.asapIMG {
  width: 80%;
  border-radius: 25px;
}

.evIMG {

}

.gcodeIMG {

}

.mediaContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.boxContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  border-radius: 25px;
  width: 30%;
  padding: 2% 0% 2% 0%;
  margin: 0% 1% 0% 1%;
}

.mediaBox-mobile {
  background-color: #f1f5f9;
  padding: .5% 1% 3% 1%;
  width: 30%;
  margin: 0% 1% 0% 1%;
  border-radius: 25px;
}
