
hr { margin-top: 0; }
div { margin: 0 ; }
a { text-decoration: none }

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  float: center;
  font-size: .75em;
  border-radius: 5px;
  padding: 1.5%;
  margin: 1%;
  background-color: #485167;
  color: white;
}

.Line {
  color: #485167;
}
