

hr { margin-top: 0; }


.Desc {
  font-family: palatino;
  color: #485167;
  font-size: 150%;
}

.DescOne {
  font-family: palatino;
  color: #485167;
  font-size: 120%;
  text-align: center;
}

.Bailey {
  margin-top: .5%;
  height: 30%;
  width: 30%;
}

.DescTwo {
  font-family: palatino;
  color: #485167;
  font-size: 90%;
  text-align: center;
}

.Line {
  color: #485167;
}
