

hr { margin-top: 0; }


.Desc {
  font-family: palatino;
  color: #485167;
  font-size: 1.2em;
}

.link {
  font-family: palatino;
  color: #485167;
  font-size: 1em;
  text-align: left;
}

.DescOne {
  font-family: palatino;
  color: #485167;
  font-size: .8em;
  text-align: center;
}

.Bailey {
  margin-top: .5%;
}

.DescTwo {
  font-family: palatino;
  color: #485167;
  font-size: .7em;
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: row;
}

.Right {
  display: flex;
  justify-content: flex-start;
}

.Left {
  padding-left: 5%;
}

.item {
  font-family: palatino;
  color: #485167;
  font-size: .8em;
  text-align: center;
}

.Button {
  font-family: palatino;
  font-size: .75em;
  border-radius: 5px;
  padding: 1.5%;
  margin: 1%;
  background-color: #dae2e8;
}


.Button:hover {
  background-color: #485167;
  color: white;
}

.Line {
  color: #485167;
}
