

hr { margin-top: 0; }


.Desc {
  font-family: palatino;
  color: #485167;
  font-size: 1em;
}

.link {
  font-family: palatino;
  color: #485167;
  font-size: 1em;
  text-align: left;
}


.item {
  font-family: palatino;
  color: #485167;
  font-size: .8em;
  text-align: center;
}

.Line {
  color: #485167;
}
