

hr { margin-top: 0; }


.Desc {
  font-family: palatino;
  color: #485167;
  font-size: 100%;
}

.link {
  font-family: palatino;
  color: #485167;
  font-size: 100%;
  text-align: left;
}


.item {
  font-family: palatino;
  color: #485167;
  font-size: 90%;
  text-align: center;
}

.Line {
  color: #485167;
}
