

hr { margin-top: 0; }


.Desc {
  font-family: palatino;
  color: #485167;
  font-size: 1em;
}

.link {
  font-family: palatino;
  color: #485167;
  font-size: 1em;
  text-align: left;
}

.DescOne {
  font-family: palatino;
  color: #485167;
  font-size: .8em;
  text-align: left;
}

.item {
  font-family: palatino;
  color: #485167;
  font-size: .8em;
  text-align: left;
}


.Button {
  font-family: palatino;
  font-size: .75em;
  border-radius: 5px;
  padding: 1.5%;
  margin: 1%;
  background-color: #dae2e8;
}


.Button:hover {
  background-color: #485167;
  color: white;
}

.Line {
  color: #485167;
}
