
hr { margin-top: 0; }

.Main-section {
  font-size: large;
  background-color:#f9f9f9;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.Resume {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.Left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Header {
  font-family: palatino;
  color: #485167;
}

.Mission-header {
  font-family: palatino;
  color: #485167;
  font-size: 1.5em;
}

.DescL {
  font-family: palatino;
  color: #485167;
  font-size: 0.7em;
  text-align: left;
}

.DescR {
  font-family: palatino;
  color: #485167;
  font-size: 0.7em;
  text-align: center;
}

.Mission {
  font-family: palatino;
  color: #485167;
  font-size: 1em;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.Desc-info-L {
  font-family: palatino;
  color: #485167;
  font-size: 0.6em;
  text-align: left;
}

.Line {
  color: #485167;
}
