p { margin-top: -5px; }

hr { margin-top: 0; }

.Background {
  background-color: #dae2e8;
}

.Main {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.Main-header {
  background-color: #f9f9f9;
  height: 20%;
  color: #485167;
  margin-bottom: 1%;
  display:flex;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  justify-content: space-between;
}

.Nav-bar {
  padding-top: 4%;
}

.Main-nav {
  font-family: palatino;
  font-size: 0.75em;
  color: #485167;
}

.Main-nav:hover {
  color: #a8c7ea;
}

.hide {
  color: #f9f9f9;
}


.Main-title {
  font-size: 3em;
  font-family: palatino;
  font-style: oblique 10deg;
}

.Main-section {
  font-size: large;
  background-color:#f9f9f9;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 1%;
}

.Resume {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.Left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Header {
  font-family: palatino;
  color: #485167;
}

.Mission-header {
  font-family: palatino;
  color: #485167;
  font-size: 1.5em;
}

.Desc {
  font-family: palatino;
  color: #485167;
  font-size: 0.7em;
}

.Mission {
  font-family: palatino;
  color: #485167;
  font-size: 1em;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.Desc-info {
  font-family: palatino;
  color: #485167;
  font-size: 0.6em;
}

.Desc-info-extra {
  font-family: palatino;
  color: #485167;
  font-size: 0.6em;
  padding-left: 3%;
}


.Mts {
  height: 40vh;
  width: 90vw;
}

.Button {
  font-family: palatino;
  font-size: .75em;
  border-radius: 5px;
  padding: 1.5%;
  margin: 1%;
  background-color: #a8c7ea;
}

.Button:hover {
  background-color: #485167;
  color: white;
}


.Icon {
  height: 5vh;
  width: 3vw;
}

.Line {
  color: #485167;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
